[submodule "ext/minhook"]
	path = ext/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "ext/physfs"]
	path = ext/physfs
	url = https://github.com/icculus/physfs
[submodule "ext/sphlib"]
	path = ext/sphlib
	url = https://github.com/pornin/sphlib
[submodule "ext/MemoryModule"]
	path = ext/MemoryModule
	url = https://github.com/fancycode/MemoryModule
[submodule "ext/incbin"]
	path = ext/incbin
	url = https://github.com/graphitemaster/incbin
