[submodule "ext/minhook"]
	path = ext/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "ext/physfs"]
	path = ext/physfs
	url = https://github.com/icculus/physfs
[submodule "ext/sphlib"]
	path = ext/sphlib
	url = https://github.com/pornin/sphlib
